*{
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #252525;
  overflow-y: hidden;
}

summary{
  width: 100%;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0;
  background-color: rgb(80, 80, 80);
  color: #ccc;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid rgb(90, 90, 90);
}

/* summary::marker{
  content: '>';
} */

details{
  transition: all 0.3s ease;
  color: #fff;
  font-size: 14px;
  overflow: scroll;
}

details ul{
  padding: 0;
}

details li{
  padding: 4px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

details li:hover{
  background-color: #38373d;
}

details li label{
  pointer-events: none;
}

input[type="radio"]{
  margin: 0 5px 0 0;
}

details[open]{
  transition: all 0.3s ease;
}

#form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 224px);
  background-color: #1e1f1e;
  color: #fff;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
}

.answer{
  margin-top: 10px;
  width: 275px;
  max-width: 275px;
}

#answer{
  padding: 10px;
  margin: 0;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.1);
}